# Global
*tags
*.swp
a.out

# C
*.o
*.o.d
*.o.cmd

# Driver
*.ko
*.order
*.symvers
*.cmd
*.mod
*.mod.c
*.mod.o

# other
client
server
server_blocked
server_select
server_epoll
/hardware/i2cdev/i2cdev
/hardware/devmem/devmem
/hardware/phytium_gpio/phytium_gpio

*.key
*.key.*
*.dep
rk_rsa
rk_rsa.pub
encrypt
decrypt
encrypt_decrypt
phyreg
